.projects-container {
	max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
	padding-bottom: 2em;
}

.projects-header {
	padding: 2em 0 2em 2em;
}

.projects-header > h3{
	font-family: 'Arvo', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #65686d;
}