.skills-container {
	max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
	margin-bottom: 2.5rem;
}

.skills-header > h3{
	text-align: center;
	font-family: 'Arvo', sans-serif;
	font-size: 28px;
	color: #65686d;

}

.skills-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: inherit;
	justify-content: space-between;
}

.skills-list li {
	flex-basis: 15%;
	margin: .6rem;
	margin: auto 1rem;
	margin-bottom: 2rem;
	font-size: 20px;
	text-decoration: none;
	color: #457CB0; 
	position: relative;
	font-weight: bold;
}

@media only screen and (max-width : 845px) {
	.skills-list li {
		flex-basis: 12%;
		margin: .6rem;
		margin: 1em;
		margin-bottom: 2rem;
		font-size: 19px;

	}
}

@media only screen and (max-width : 678px) {
	.skills-list li {
		flex-basis: 10%;
		margin: auto 1em;
		margin-bottom: 2rem;
		font-size: 17px;

	}

}

@media only screen and  (max-width : 600px) {
	.skills-list {
		display: flex;
		flex-wrap: wrap;
		list-style-type: inherit;
		justify-content: center;
	}

	.skills-list li {
		flex-basis: 36%;
		margin-bottom: 1rem;
		margin-left: 1.25rem;
		font-size: 20px;
	}
}


