.resume-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
  padding-bottom: 2rem;
}

.resume-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}

.resume-header > a{
	text-align: center;
  font-family: 'Arvo', sans-serif;
  font-weight: 500;
  color: #65686d;
  font-size: 1.25rem;
  text-decoration: none;
}

.download-resume {
  font-family: 'Arvo', sans-serif;
  text-decoration: none;
  color: #65686d;
  font-size: .85rem;
}

.resume-items {
  margin: 0;
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


.resume-item > a {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2f6696;
  text-decoration: none;
}

.resume-item > p {
  margin-top: -.5em;
  text-align: center;
  color: #25415a;
}