.resume-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
  padding-bottom: 2rem;
  margin: auto 15px;
  margin-bottom: 2rem;
}

.resume-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

.resume-header > a{
	text-align: center;
  font-family: 'Arvo', sans-serif;
  color: #65686d;
  font-size: 28px;
  text-decoration: none;
}

.download-resume {
  font-family: 'Arvo', sans-serif;
  text-decoration: none;
  color: #74777b;
  font-size: 22px;
}

.resume-items {
  margin: 0;
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


.resume-item > a {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2f6696;
  text-decoration: none;
}

.resume-item > p {
  margin-top: -.5em;
  text-align: center;
  color: #5a5d62;
  font-size: 20px;
}

/*Media Queries*/


@media only screen and (max-width : 815px) {
  .resume-item > a {
    font-size: 26px;
  }
  
  .resume-item > p {
    font-size: 17px;
  }
}

@media only screen and  (max-width : 660px) {
  .resume-items {
    flex-direction: column;
    justify-content: center;
  }

  .resume-item > a {
    font-size: 26px;
  }
  
  .resume-item > p {
    margin-top: -.5em;
    text-align: center;
    color: #5a5d62;
    font-size: 17px;
  }
}