.mern-wrapper {
  margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #457CB0;
}

.mern-title {
	color: #30567b;
  padding: 0 15px;
  margin: 15px 0;
}

.mern-description {
	margin-top: 0em;
	color: #46484c;
  padding: 0 15px;
  font-size: .85em;
}

.mern-description > a {
	text-decoration: none;
	color:  #468B92;
}

.mern-demo {
	color: #25415a;
	font-weight: bold;
	text-decoration: none;
	padding-left: 15px;
	margin: 0;
}

.mern-demo > a {
	color: #2f6696;
	text-decoration: none;
	font-size: .85rem;
	margin: 0;
}

.mern-images {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

.mern-images > img {
	flex-basis: 49%;
  max-width: 515px;
	max-height: 320px;
	box-shadow: 0 0 3px #6a6c6f;
	border-radius: 3px;
}