

.about-container {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.about {
  display: flex;
  justify-content: space-between;
}

#me {
	max-width: 50%;
	border-radius: 50%;
}