.me {
  max-width: 175px;
  border-radius: 50%;
  border: 3px #457CB0 solid;
  margin-top: 1em;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
	    	  animation: fadein 2s;
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.about-container {
  max-width: 1080px;
	margin: 0 auto;
	border-bottom: 3px #d8d8da solid;
}

.about-content {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	padding-left: 2em;
}

.about-content > p {
	font-size: 1.25em;
	margin: 0 2em;
	padding-top: 1em;
	color:  #65686d;
	line-height: 150%;
}
