.battle-wrapper {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #457CB0;
}

.battle-title {
	color: #30567b;
	padding: 0 15px;
	margin: 15px 0;
}

.battle-description {
	margin-top: 0;
	color: #46484c;
	padding: 0 15px;
	font-size: .85rem;
}

.battle-description > a {
	text-decoration: none;
	color: #C2392A;
}

.battle-demo {
	color: #25415a;
	font-weight: bold;
	text-decoration: none;
	padding-left: 15px;
	margin: 0;
}

.battle-demo > a {
	color: #2f6696;
	text-decoration: none;
	font-size: .85rem;
	margin: 0;
}

.battle-images {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

.battle-images > img {
	flex-basis: 49%;
	min-width: 250px;
	box-shadow: 0 0 6px -3px #6a96bf;
	border-radius: 3px;
}