a {
  margin: 0;
  padding: 0;
}


.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
  margin-bottom: 2.5rem;
}

.contact-header > h3{
  text-align: center;
  font-family: 'Arvo', sans-serif;
  font-size: 29px;
  color: #65686d;
  margin-bottom: 2rem;
  }

.contact-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  margin: 1.75rem 1rem;
}

.contact-icons {
  display: inline-block;
  font-size: 40px;
  padding-right: 10px;
  margin-bottom: -5px;
}

.contact-items > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.contact-buttons {
  margin-right: 1rem;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #2f6696;
}






