.contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1080px;
	border-bottom: 3px #d8d8da solid;
  padding-bottom: 2rem;
}

.contact-header > h3{
  text-align: center;
  font-family: 'Arvo', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #65686d;
  }

.contact-items {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

.contact-items > a {
  text-decoration: none;
}


.contact-buttons {
  margin-top: 1rem;
  font-size: 1.66rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #2f6696;
}

.contact-buttons > div {
  display: block;
  text-align: center;
}




