body {
  background: #f8f8f8;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  scroll-behavior: smooth;
}

h3 {
  font-weight: normal;
}

.button-top-container {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.button-top {
  border: none;
  background-color: #f8f8f8;
  color: #457cb0;
  font-family: "Rock Salt", sans-serif;
  cursor: pointer;
}

.FaArrow {
  display: block;
  margin: 0 auto;
}
