.stonewillow-wrapper {
  margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #457CB0;
}

.stonewillow-title {
	color: #30567b;
  padding: 0 15px;
	margin: 15px 0;
	font-size: 20px;
}

.stonewillow-description {
	margin-top: 0em;
	color: #46484c;
  padding: 0 15px;
  font-size: 18px;
}

.stonewillow-description > a {
	text-decoration: none;
	color:  #468B92;
}

.stonewillow-demo {
	color: #25415a;
	font-weight: bold;
	text-decoration: none;
	padding-left: 15px;
	margin: 0;
}

.stonewillow-demo > a {
	color: #2f6696;
	text-decoration: none;
	font-size: 18px;
	margin: 0;
}

.stonewillow-images {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
}

.stonewillow-images > img {
	flex-basis: 49%;
	max-width: 515px;
	max-height: 320px;
	box-shadow: 0 0 3px #6a6c6f;
	border-radius: 3px;
}

/*Media Queries*/

@media only screen and (max-width : 1080px) {
	.stonewillow-wrapper {
		margin: 20px;
	}
}

@media only screen and (max-width : 678px) {
	.stonewillow-wrapper {
		text-align: center;
		margin: 20px;
	}

	.stonewillow-images {
		flex-direction: column;
		justify-content: center;
		
	}

	.stonewillow-images > img {
		margin: 10px auto;
		max-width: 412px;
		max-height: 256px;
	}

}

@media only screen and  (max-width : 600px) {
	.stonewillow-images > img {
		margin: 10px auto;
		max-width: 330px;
		max-height: 205px;
	}
}