
.header {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 3px #d8d8da solid;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.name {
  font-family: 'Rock Salt', sans-serif;
  text-decoration: none;
  color:  #457CB0;
  padding: 1.25em;
}

nav {
  display: inline-flex;
}

.main-nav {
  list-style: none;
  margin-top: 5px;
}

.main-nav li {
  display: inline-flex;
}


.main-nav a {
  text-decoration: none;
  margin-right: 1em;
  margin-left: 1em;
  color:  #7f8389;
  font-size: 1.35em;
  cursor: pointer;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.main-nav a:hover {
  color: #588bc0;
}

.blog-link:hover {
  cursor: not-allowed;
}

.blog-subscript {
  color: #55575b;
  font-size: 11px;
  display: block;
}

.blog-subscript:hover {

  cursor: not-allowed;
}
